<!DOCTYPE html>
<!--[if IE 8]>    <html class="ie8 legacy-ie no-js" lang="{{= it.lang ? it.lang : 'en-us' }}" dir="{{= it.dir ? it.dir : 'ltr' }}" itemscope itemtype="http://schema.org/Organization"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 legacy-ie no-js" lang="{{= it.lang ? it.lang : 'en-us' }}" dir="{{= it.dir ? it.dir : 'ltr' }}" itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if !IE]><!--> <html class="no-legacy-ie no-js" lang="{{= it.lang ? it.lang : 'en-us' }}" dir="{{= it.dir ? it.dir : 'ltr' }}" itemscope itemtype="http://schema.org/Organization"> <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<!--[if IE]>        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	
	<title>Mamá Cordero</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="format-detection" content="telephone=no">
	
	
	<!-- IE Clearfix -->
	<!--[if IE]>
		<meta http-equiv="cleartype" content="on">
	<![endif]-->
	
   <link rel="stylesheet" type="text/css" href="css/styles.min.css">
	
   <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
   <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#c20808">
   <link rel="shortcut icon" href="/img/favicons/favicon.ico">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
   <meta name="theme-color" content="#ffffff">
	
	<!-- OpenGraph -->
	<meta property="og:image" content="/img/favicons/apple-touch-icon.png" />
	<meta property="og:title" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />	
	<!-- /OpenGraph -->
	
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@flickr" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image:src" content="/img/favicons/apple-touch-icon.png" />
	<meta name="twitter:url" content="" />		
	<meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="/img/favicons/apple-touch-icon.png">
	<!-- /Twitter Card -->

	<link rel="alternate" hreflang="es" href="/" />		

</head>
<body>    
    