   <!-- Modal -->
   <div class="modal fade" id="hamburguesas-receta" tabindex="-1" role="dialog" aria-labelledby="hamburguesas-receta" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12">
                            <h2 class="title tab">HAMBURGUESAS<img src="img/tab-4pasos.png"></h2>
                        </div>
                        <div class="col-12 col-lg-5">
                            <img src="img/hamburguesa-bg.png" class="img-modal-bg" alt="">
                        </div>                       
                        <div class="col-12 col-lg-7">
                            <ul class="steps-receta">
                                <li><span class="color-primary">1.-</span> Para cocinarlos en plancha o sartén, calienta un chorrito de aceite a fuego medio antes de poner la hamburguesa.</li>
                                <li><span class="color-primary">2.-</span> Una vez caliente, colócala y déjala 4 minutos por cada lado, alargando la duración si prefieres la carne muy hecha.</li>
                                <li><span class="color-primary">3.-</span> Retírala y elabora la hamburguesa a tu gusto con todo tipo de ingredientes: con lechuga, tomate, huevo, queso… ¡Incluso el pan! Todos los panes combinan con nuestra hamburguesa.</li>
                                <li><span class="color-primary">4.-</span> Tuesta las rebanadas del pan, monta los ingredientes con el queso sobre la hamburguesa para que se funda y completa la hamburguesa con una salsa de yogur por encima. Como toque final ¡acompáñala con una patatas fritas!</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

