   <!-- Modal -->
   <div class="modal fade" id="hamburguesas-producto" tabindex="-1" role="dialog" aria-labelledby="hamburguesas-producto" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <h2 class="title">HAMBURGUESAS</h2>
                            <h3 class="subtitle">¡Un clásico que te sorprenderá!</h3>
                            <div class="content">
                                <p>Mamá Cordero ha elaborado estas Hamburguesas con una selección de especias y quinoa para conseguir un sabor diferente y único.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3 class="howto-title">Cómo preparar las Hamburguesas</h3>
                            <ul class="howto-content">
                                <li><span class="icon-bbq sm mr-2"></span>Barbacoa 6 minutos por cada lado</li>
                                <li><span class="icon-plancha sm mr-2"></span>Plancha 6 minutos por cada lado</li>
                                
                            </ul>
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="block-info">
                                        
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">INFORMACIÓN NUTRICIONAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="text-center">Valores medios por 100g</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Valor energético</td>
                                                    <td>664kJ/159kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>Grasas <br />de las cuales Saturadas</td>
                                                    <td>10,2g <br/>t4,1g</td>
                                                </tr>
                                                <tr>
                                                    <td>Hidratos de carbono <br />de los cuales Azúcares</td>
                                                    <td>0,9g <br/>0,9g</td>
                                                </tr>
                                                <tr>
                                                    <td>Proteínas</td>
                                                    <td>16,6g</td>
                                                </tr>
                                                <tr>
                                                    <td>Sal</td>
                                                    <td>1,80g</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-6">
                                    <div class="ingredients">
                                        <strong>Ingredientes:</strong> Carne picada de cordero (83,9%), quinoa (12,6%) roja y negra, mostaza, sal y conservador base (antioxidante (E301, E331iii, E325) conservadores (E262i), dextrosa).
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

