   <!-- Modal -->
   <div class="modal fade" id="pinchos-receta" tabindex="-1" role="dialog" aria-labelledby="pinchos-receta" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12">
                            <h2 class="title tab">PINCHOS<img src="img/tab-4pasos.png"></h2>
                        </div>
                        <div class="col-12 col-lg-5">
                            <img src="img/pincho-bg.png" class="img-modal-bg" alt="">
                        </div>                       
                        <div class="col-12 col-lg-7">
                            <ul class="steps-receta">
                                <li><span class="color-primary">1.-</span> Te recomendamos utilizar la barbacoa para cocinar los pinchos, aunque también puedes hacerlos en la plancha, calentando previamente un chorrito de aceite a fuego medio.</li>
                                <li><span class="color-primary">2.-</span> En ambos recipientes colocamos los pinchos, dorando cada lado 3 minutos hasta que veamos que estás hechos. Déjalos un minuto más si quieres dorarlos.</li>
                                <li><span class="color-primary">3.-</span> Sobre una superficie de madera, coloca los pinchos en forma piramidal y condiméntalos con unos granos de pimienta y perejil.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

