   <!-- Modal -->
   <div class="modal fade" id="pinchos-producto" tabindex="-1" role="dialog" aria-labelledby="pinchos-producto" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <h2 class="title">PINCHOS</h2>
                            <h3 class="subtitle">¡El cordero más divertido!</h3>
                            <div class="content">
                                <p>Mamá Cordero ha macerado estos Pinchos con una selección de las mejores especias para conseguir un sabor diferente y único..</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3 class="howto-title">Cómo preparar los Pinchos</h3>
                            <ul class="howto-content">
                                <li><span class="icon-bbq sm mr-2"></span>Barbacoa 3 minutos por cada lado</li>
                                <li><span class="icon-plancha sm mr-2"></span>Plancha 3 minutos por cada lado</li>
                                
                            </ul>
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="block-info">
                                        
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">INFORMACIÓN NUTRICIONAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="text-center">Valores medios por 100g</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Valor energético</td>
                                                    <td>650kJ/155kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>Grasas <br />de las cuales Saturadas</td>
                                                    <td>10,1g <br/>4,3g</td>
                                                </tr>
                                                <tr>
                                                    <td>Hidratos de carbono <br />de los cuales Azúcares</td>
                                                    <td>0,8g <br/>0,7g</td>
                                                </tr>
                                                <tr>
                                                    <td>Proteínas</td>
                                                    <td>15,3g</td>
                                                </tr>
                                                <tr>
                                                    <td>Sal</td>
                                                    <td>1,37g</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-6">
                                    <div class="ingredients">
                                        <strong>Ingredientes:</strong> Pierna de cordero, agua, preparado salmuera (sal, lactosa, proteínas de la leche, antioxidante (E331, E301), estabilizador (E407), aromas (proteína de soja hidrolizada), dextrosa), especias (especias (pimentón, azafrán, pimienta, curry, comino, sal) sal, ácido ascórbico, ácido citrico) y conservador base (antioxidante (E301, E331iii, E325) conservadores (E262i), dextrosa).
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

