   <!-- Modal -->
   <div class="modal fade" id="secreto-producto" tabindex="-1" role="dialog" aria-labelledby="secreto-producto" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <h2 class="title">SECRETO</h2>
                            <h3 class="subtitle">¡Muy tierno y lleno de sabor!</h3>
                            <div class="content">
                                <p>Mamá Cordero ha confitado 
                                    a baja temperatura y macerado este Secreto con una selección de especias, cocinándolo hasta conseguir
                                    una textura sorprendentemente
                                    suave y jugosa.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3 class="howto-title">Cómo preparar las Hamburguesas</h3>
                            <div class="row no-gutters">
                                    
                                <div class="col-6 px-0">
                                    <ul class="howto-content">
                                        <li><span class="icon-bbq sm mr-2"></span>Barbacoa 5 minutos</li>
                                        <li><span class="icon-microondas sm mr-2"></span>Microondas 1 minuto</li>
                                    </ul>
                                </div>
                                <div class="col-6 px-0">
                                    <ul class="howto-content">
                                        <li><span class="icon-horno sm mr-2"></span>Horno 5 minutos</li>
                                        <li><span class="icon-plancha sm mr-2"></span>Freír 2 minutos</li>                              
                                    </ul>
                                </div>                                
                                
                            </div>
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="block-info">
                                        
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">INFORMACIÓN NUTRICIONAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="text-center">Valores medios por 100g</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Valor energético</td>
                                                    <td>1080kJ/258kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>Grasas <br />de las cuales Saturadas</td>
                                                    <td>21,6g <br/>5,8g</td>
                                                </tr>
                                                <tr>
                                                    <td>Hidratos de carbono <br />de los cuales Azúcares</td>
                                                    <td>2,1g <br/>0,1g</td>
                                                </tr>
                                                <tr>
                                                    <td>Proteínas</td>
                                                    <td>13,7g</td>
                                                </tr>
                                                <tr>
                                                    <td>Sal</td>
                                                    <td>1,06g</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-6">
                                    <div class="ingredients">
                                        <strong>Ingredientes:</strong> Carne de cordero (77,9%), mojo rojo (aceite de oliva, vinagre (sulfitos), perejil, ajo), marinado toscana (aceite de girasol, grasa vegetal (girasol), sal, especias, (hinojo, pimienta, ajo, enebro), mezcla de especias, hierbas aromáticas (romero), mezcla de especias aromáticas) tomillo, romero, sal ajo y conservador base (antioxidante (E301, E331iii, E325) conservadores (E262i), dextrosa).
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

