   <!-- Modal -->
   <div class="modal fade" id="torreznos-producto" tabindex="-1" role="dialog" aria-labelledby="torreznos-producto" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <h2 class="title">TORREZNOS</h2>
                            <h3 class="subtitle">¡El aperitivo más crujiente!</h3>
                            <div class="content">
                                <p>Mamá Cordero ha confitado 
                                    a baja temperatura estos Torreznos con una selección de especias, cocinándolos hasta conseguir una textura sorprendentemente
                                    suave y jugosa.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h3 class="howto-title">Cómo preparar los Torreznos</h3>
                                <div class="row no-gutters">
                                    
                                    <div class="col-6 px-0">
                                        <ul class="howto-content">
                                            <li><span class="icon-bbq sm mr-2"></span>Barbacoa 5 minutos</li>
                                            <li><span class="icon-microondas sm mr-2"></span>Microondas 1 minuto</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 px-0">
                                        <ul class="howto-content">
                                            <li><span class="icon-horno sm mr-2"></span>Horno 5 minutos</li>
                                            <li><span class="icon-plancha sm mr-2"></span>Freír 3 minutos a 175º</li>                              
                                        </ul>
                                    </div>                                
                                    
                                </div>
                                
                                
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <div class="block-info">
                                            
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">INFORMACIÓN NUTRICIONAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="text-center">Valores medios por 100g</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Valor energético</td>
                                                        <td>953kJ/228kcal</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Grasas <br />de las cuales Saturadas</td>
                                                        <td>17,5g<br/>9,2g</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hidratos de carbono <br />de los cuales Azúcares</td>
                                                        <td>1,7g <br/>0,1g</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Proteínas</td>
                                                        <td>15,5g</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sal</td>
                                                        <td>1,22g</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-6">
                                        <div class="ingredients">
                                            <strong>Ingredientes:</strong> Cordero, mantequilla (nata de leche y fermentos lácticos), tomillo, romero, sal, ajo y conservador base (antioxidante (E301, E331iii, E325) conservadores (E262i), dextrosa).
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    
    