   <!-- Modal -->
   <div class="modal fade" id="torreznos-receta" tabindex="-1" role="dialog" aria-labelledby="torreznos-receta" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <div class="row no-gutters">
                        <div class="col-12">
                            <h2 class="title tab">TORREZNOS<img src="img/tab-4pasos.png"></h2>
                        </div>
                        <div class="col-12 col-lg-5">
                            <img src="img/torreznos-bg.png" class="img-modal-bg" alt="">
                        </div>                       
                        <div class="col-12 col-lg-7">
                            <ul class="steps-receta">
                                <li><span class="color-primary">1.-</span> EL secreto de los torreznos se encuentra en su fritura. En primer lugar, pon a calentar tres cucharadas soperas de aceite en la sartén o en la freidora a fuego fuerte (en torno a los 175º). Los menos cocineros también podéis hacerlos en el horno (durante 5 minutos) o en el microondas (1 minuto).</li>
                                <li><span class="color-primary">2.-</span> Una vez esté caliente el aceite, introduce los torreznos y mantenlos durante 3 minutos a la misma temperatura. Si quieres, puedes tostarlos durante un minuto extra.</li>
                                <li><span class="color-primary">3.-</span> Cuando estén completamente dorados, retíralos y ponlos sobre una superficie absorbente (por ejemplo, papel de cocina) para que escurra el exceso de aceite.</li>
                                <li><span class="color-primary">4.-</span> Por últimos, sírvelos en un plato con salsa barbacoa y adórnalos con una ramita de perejil o cebollino.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

