@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,700');
@import url("https://use.typekit.net/gtp6jcf.css");
@font-face {
   font-family: 'Averia Serif';
   src: url('../fonts/AveriaSerif-Regular.woff2') format('woff2'),
       url('../fonts/AveriaSerif-Regular.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geometos Rounded';
   src: url('../fonts/GeometosRounded.woff2') format('woff2'),
       url('../fonts/GeometosRounded.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Cn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}