.select2-container {
   z-index: zindex('select2-container');
   //width: 100% !important;

   .select2-selection__arrow {
      top: -2px!important;
   }
}

.select2.select2-container {
   &--default {
      border: 0;
   }

   .select2-selection {
      &--single {
         border: 0;
         border-radius: 0;
         border-bottom: 1px solid #b1b3b3;
         background: none;
      }
   }
}

.select2-selection.select2-selection--single,
.select2-container--open,
.select2-selection__rendered {
   outline: 0 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
   background-color: transparent;
   opacity: 0.8;
   cursor: not-allowed;
   color: $color-gunmetal;
}

.select2-dropdown {
   border: 0 !important;

   &:after {
      content: "";
      position: absolute;
      height: 2px;
      display: block;
      background: $color-grey-cool-two;
      width: 100%;
      left: 0;
   }
   &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 7px 7.5px;
      border-color: transparent transparent $color-grey-cool-two transparent;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
   }
   &--below {
      box-shadow: 0 2px 4px $color-shadow;
      top: 8px;
      &:after {
         top: -2px;
      }
      &:before {
         top: -9px;
      }
   }
   &--above {
      box-shadow: 0 2px 4px $color-shadow;
      &:before {
         bottom: -9px;
         transform: rotate(180deg);
      }
      &:after {
         width: 100%;
         bottom: -2px;
         left: 0;
      }
   }
}

.select2-results {
   z-index: zindex('select2-results') !important;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow
b {
   width: 11px !important;
   height: 11px !important;
   border: 0 !important;
   background-image: url($caret);
   background-size: contain;
   background-repeat: no-repeat;
}

.select2-container .select2-selection--single .select2-selection__rendered {
   padding-left: 0px !important;
}

.select2-results__options {
   li {
      border-top: 1px solid #d8d8d8;
      color: $color-gunmetal;
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 0;
      padding: 1rem 1.4rem;
   }
}

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
   background: $color-light-purple !important;
   color: $color-gunmetal !important;
   font-weight: bold;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
   background: $color-white;
   font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
   color: $input-placeholder-color;
}
